@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
  background-color: #fdf6e3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f7f1e3;
  overflow-x: hidden;
}

.container {
  padding: 20px;
}

.title {
  font-size: 6rem;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 1.4;
  letter-spacing: 0.308em;
  text-align: center;
  font-family: 'Marcellus', serif;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #d1b3d1;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  transition: transform 0.2s ease-in-out;
  width: 150px;
  height: 175px;
}

.card:hover {
  transform: scale(1.05);
}

.add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  order: 10000000; 
}

.card .date-time {
  font-size: 1.3rem;
  color: #777;
}

.card .note-text {
  font-family: 'Times New Roman', serif;
  font-size: 1.5rem;
  margin-top: 15px;
  color: #333;
  word-break: break-word;
}

.card .note-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.plus {
  font-size: 4rem;
  color: #f0f0f0;
  font-weight: bold;
}

.ellipsis {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 2.5rem;
  color: gray;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 15px;
  background-color: #d9d9d9;
  border-radius: 8px;
  padding: 5px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 100px;
}

.menu-item {
  padding: 10px;
  text-align: left;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menu-item:hover {
  background-color: #c9c9c9;
}

.note-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-text {
  flex: 1;
  font-size: 16px;
  overflow-y: auto;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
}